:root {
    --mainColor: #950023    ;
}

body {
    margin: 0;  
    padding: 0;
}

* {
    font-family: "Roboto", sans-serif;
}

a,
span.main-color {
    color: var(--mainColor);
}

.card {
    position: relative;
    display: block;

    margin: 60px 5%;
    padding: 35px; 

    border: 1px solid #e7e7e7;
    border-radius: 3px;
}

.form-container {
    width: 420px;
    height: auto;
    padding: 20px;
    border: 1px solid var(--mainColor);
    border-radius: 3px;
    margin: 20px auto;
}

.form-container > div {
    margin-bottom: 10px;
    display: flex;
}

.form-container > div input {
    flex: 1;
    padding: 8px 10px;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    font-size: 17px;
}

.button {
    border: 1px solid transparent;
    padding: 10px 15px;
    background: var(--mainColor);
    color: #fff;
    font-size: 17px;
    border-radius: 3px;
    cursor: pointer;
}

.dashboard {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.dashboard-aside {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 128px;
    border-right: 1px solid #e7e7e7;
}

.dashboard-aside > a {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid #e7e7e7;
}

.dashboard-aside > a img {
    margin: 0 auto;
}

.dashboard-content {
    flex: 1;
    padding: 15px;
}

.news-list {
    margin: 0;
    padding: 0;
}

.news-list li {
    display: inline-flex;
    list-style: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    text-align: left;
    width: 320px;
}

.news-list li img {
    width: 240px;
    height: auto;   
}

.medicine-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;
    flex: 1;
}

.medicine-wrapper .medicine-topheader {
    border-bottom: 1px solid #e7e7e7;
    text-align: right;
}

.medicine-button {
    display: inline-block;
    padding: 6px 10px;
    font-size: 16px;
    background-color: var(--mainColor);
    color: #fff;
    border: 0;
    border-radius: 3px;
    margin-bottom: 2px;
}

.medicine-panel {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: flex-start;
}

.medicine-alergic {
    width: 240px;
    border-left: 1px solid #e7e7e7;
}